
<div class="task-list-container">
  <h2>Lista de Tareas</h2>

  <button (click)="redirectToCreateTask()">Crear Nueva Tarea</button>
  <!-- Filtros -->
  <div class="filters">
    <span (click)="setFilter('all')" [class.active]="filter === 'all'">[Todas]</span>
    <span (click)="setFilter('completed')" [class.active]="filter === 'completed'">[Completadas]</span>
    <span (click)="setFilter('pending')" [class.active]="filter === 'pending'">[Pendientes]</span>
  </div>

  <!-- Listado de Tareas -->
  <ul>
    <li *ngFor="let task of filterTasks(); let i = index">
      <div class="task-header">
        <!-- Checkbox para marcar tarea completada -->
        <span>{{ i + 1 }}.
          <input type="checkbox" [checked]="task.completed" (change)="toggleCompletion(task.id)" />
          {{ task.title }}
        </span>
      </div>

      <!-- Mostrar las personas asociadas a cada tarea -->
      <div class="task-body">
        <strong>Personas Asociadas:</strong>
        <ul>
          <li *ngFor="let person of task.people">
            - {{ person.fullName }} <span class="age">({{ person.age }})</span>
            <br/>
            Habilidades: {{ person.skills.join(', ') }}
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
