<div class="task-form-container mat-elevation-z8">
  <mat-card>
    <mat-card-title>Crear Nueva Tarea</mat-card-title>
    <mat-card-content>
      <form [formGroup]="taskForm" (ngSubmit)="submit()">
        <mat-form-field>
          <input matInput id="title" formControlName="title" type="text" />
          <mat-label>Nombre de la tarea:</mat-label>
          <mat-error *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched">
            El nombre es obligatorio y debe tener al menos 5 caracteres.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput id="deadline" formControlName="deadline" type="date" />
          <mat-label>Fecha límite:</mat-label>
          <mat-error *ngIf="taskForm.get('deadline')?.invalid && taskForm.get('deadline')?.touched">
            La fecha límite es obligatoria.
          </mat-error>
        </mat-form-field>

        <mat-card-subtitle>Personas Asociadas:</mat-card-subtitle>
        <div formArrayName="people">
          <div *ngFor="let person of people.controls; let i = index" [formGroupName]="i">
            <mat-card>
              <mat-card-title>Persona {{ i + 1 }}</mat-card-title>
              <mat-card-content>
                <mat-form-field>
                  <input matInput id="fullName" formControlName="fullName" type="text" />
                  <mat-label>Nombre completo:</mat-label>
                  <mat-error *ngIf="person.get('fullName')?.invalid && person.get('fullName')?.touched">
                    El nombre es obligatorio, único y debe tener al menos 5 caracteres.
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Edad:</mat-label>
                  <input matInput id="age" formControlName="age" type="number" />
                  <mat-error *ngIf="person.get('age')?.invalid && person.get('age')?.touched">
                    La persona debe tener al menos 18 años.
                  </mat-error>
                </mat-form-field>

                <mat-card-subtitle>Habilidades:</mat-card-subtitle>
                <div formArrayName="skills">
                  <div *ngFor="let skill of getSkills(i).controls; let j = index">
                    <mat-form-field>
                      <input matInput [formControlName]="j" type="text" />
                    </mat-form-field>
                    <button mat-button color="warn" (click)="removeSkill(i, j)">Eliminar Habilidad</button>
                  </div>
                  <button mat-button color="primary" (click)="addSkill(i)">Añadir Habilidad</button>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="warn" (click)="removePerson(i)">Eliminar Persona</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <button mat-raised-button color="primary" (click)="addPerson()">Añadir Persona</button>
        </div>

        <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid">Guardar Tarea</button>
        <button mat-raised-button color="warn" type="button" (click)="redirectToTaskList()">Regresar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
